
/* HEADER LOGOS */
.app-logo {
  
  height: 80px;
  padding-right: $grid-gutter-width / 2;
  margin-left: -24%;
  margin-top: 9px;
}

.org-logo {
  height: 100px;
  padding-right: $grid-gutter-width / 2;
}
